import React from 'react'
import Navbar from "../../components/Navbar";
import Create{{properCase name}}Container from "../../containers/{{properCase (plural name)}}/Create{{properCase name}}Container";
const Create{{properCase name}} = () => {
  return (
    <div>
      <Navbar/>
      <div className='Page__content'>
        <Create{{properCase name}}Container />
      </div>
    </div>
  )
};

Create{{properCase name}}.propTypes = {
};

export default Create{{properCase name}}