import React, {useEffect, useState} from "react";
import {connect} from 'react-redux'
import {func, object} from "prop-types";
import { update{{properCase name}}, fetch{{properCase name}} } from "../../stores/{{plural name}}";
import Form from "../../components/{{properCase (plural name)}}/Form";

const Edit{{properCase name}}Container = props => {
  const [loading, setLoading] = useState(true);

  const load = () => {
    props.load()
      .catch(() => {})
      .finally(() => setLoading(false))
  }

  useEffect(() => {
    load()
  }, []);

  if(loading) {
    return <div>Loading...</div>
  }
  if (!props.{{name}}) {
    return <p>Cannot load element</p>
  }

  return (<Form onSubmit={props.edit} {{name}}={ props.{{name}} }/>)
}

Edit{{properCase name}}Container.propTypes = {
  load: func,
  edit: func,
  {{name}}: object
}

const mapStateToProps = (state, ownProps) => ({
  {{name}}: state.{{plural name}}[ownProps.id]
})

const mapDispatchToProps = (dispatch, ownProps) => ({
  load: () => dispatch(fetch{{properCase (plural name)}}(ownProps.id)),
  edit: model => dispatch(update{{properCase (plural name)}}(model.id, model))
})
export default connect(mapStateToProps, mapDispatchToProps)(Edit{{plural name}}Container)